spring:
  application:
    name: projeto
server:
  servlet:
    context-path: /projeto/api
application:
  version: @project.version@
  name: @project.name@
  default-logo-path: /img/logo.png

hal:
  config:
    migration:
      enabled: true
      basePath: /migration/configuration/master.yml
  filemanager:
    migration:
      enabled: true
      base-path: filemanager

keycloak:
  enabled: true
  realm: az
  auth-server-url: http://${DOMAIN}/auth/
  ssl-required: external
  resource: projeto-api
  principal-attribute: preferred_username
  bearer-only: false
  public-client: false
  credentials:
    secret: PROJETO_API_SECRET
  securityConstraints:
    - authRoles:
        - '*'
      securityCollections:
        - patterns:
            - /projetos/*
  policy-enforcer-config:
    enforcement-mode: PERMISSIVE
    lazy-load-paths: true
    claimInformationPointConfig:
      claims[dominio]: "{request.header['dominio']}"
    paths:
      - name: PerfilSistema.Projeto
        path: /projetos/*

